<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">

</head>

<body>

    <div class="background">
        <div class="main">
            <h1>Hit Send Confirmation to receive an email and confirm your account</h1>
            <form action="/create-account" method="POST">
                <input name="email" type="email" placeholder="    Email" required="required"> <br>
                <input type="submit" id="resetBtn" value="Send Confirmation">
            </form>
        </div>

</body>

</html>