<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    {{> navbar}}
    {{> nav_format}}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;
        padding-left: 200px;
        background-color: gold;}
        * {box-sizing: border-box;}

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #111;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #818181;
        }

        .container {
            border-radius: 5px;
            background-color: gold;
            padding: 20px;
        }
        .header{
            text-align: center;
            font-weight: bold;
        }

        .main_header{
            text-align: center;
            font-weight: bold;
            font-size: x-large;

        }

    </style>


</head>
<body>


<div class="container">
    <p class="main_header">TRANSACTION FORM</p>
    <br>
    <br>
    <p>Deposit</p>
    <form action="deposit/{{username}}" method="POST">
        <input type="text" name="deposit" placeholder="Deposit Amount" >
        <input type="submit">
    </form>
    <br>
    <br>


    <p>Withdraw</p>
    <form action="withdraw/{{username}}" method="POST">
        <input type="text" name="withdraw" placeholder="Withdraw Amount" >
        <input type="submit">
    </form>

</div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>