<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert Currency</title>
    <p>Covert Currency password</p>
</head>
<body>

<h4>Deposit</h4>
<form action="deposit/{{username}}" method="POST">
    <!--<input type="text" name="withdraw" placeholder="Withdraw Amount" >-->
    <input type="text" name="deposit" placeholder="Deposit Amount" >
    <input type="submit">
</form>

<h4>Withdraw</h4>
<form action="withdraw/{{username}}" method="POST">
    <input type="text" name="withdraw" placeholder="Withdraw Amount" >
    <!--<input type="text" name="deposit" placeholder="Deposit Amount" >-->
    <input type="submit">
</form>

</body>
</html>