<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    {{> navbar}}
    {{> nav_format}}

</head>




<body>


<div class=background">
<div class="main">
    <h1>Welcome {{first_name}}</h1>
    <p>Checking Account: {{checkings}} </p>
    <p>Savings Account: {{savings}} </p>
</div>
</div>

</body>
</html>