<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">

</head>

<body>

    <div class="background">
        <div class="main">
            <h1>Password Reset</h1>
            <form action="/reset" method="POST">
                <input name="email" type="email" placeholder="    Email" required="required"> <br>
                <input type="submit" id="resetBtn" value="Reset">
            </form>
        </div>
    </div>

</body>

</html>