<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p>Your Account has been Updated</p>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Back to Homepage</a>
    </p>
</div>